<div class="loader" style="display: flex;flex-direction: column;gap: 20px;">
    <img src="./landing/images/makeup4unique.png" alt="">
    <img src="./landing/images/giffy.gif" alt="" class="mt-5">
</div>